*,
*::after,
*::before {
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .login-page {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 4em;
  @include respond(laptop) {
      padding: 4em 2.5em;
  }
  @include respond(tablet) {
      padding: 2.5em 2em;
  }
  @include respond(phone-tab) {
      padding: 2em;
      display: flex;
      flex-direction: column;
  }
  @include respond(phone) {
      padding: 0em;
  }
  .lendsqr {
      .lendsqr-logo {
          display: flex;
          align-items: center;
          gap: 0.7em;
          padding-left: 2em;
          @include respond(tablet) {
              padding-left: 1em;
              gap: 0.4em;
          }
          h1 {
              font-weight: bolder;
              color: $color-header;        
          }
      }
  }
  .cover-photo {
      position: absolute;
      top: 32%;
      z-index: -1;
      @include respond(laptop) {
          width: 29em;
          height: 16.5em;
      }
      @include respond(phone-tab) {                
          top: 55%;
          left: 20%;
      }
  } 
  .login {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: -6em;
      @include respond(laptop) {
          margin-top: -4em;
      }
      @include respond(tablet) {
          margin-top: -8em;
      }
      @include respond(phone-tab) {
          margin-top: 0;
      }
      h1 {
          font-size: 2.5rem;
          font-weight: bold;
          color: $color-header;
          padding-bottom: 0.4em;
          @include respond(laptop) {
              padding-bottom: 0.25em;
          }
          @include respond(tablet) {
              font-size: 2.25rem;
          }
      }
      p {
          font-size: 1.25rem;
          padding-bottom: 2.75em;
          @include respond(laptop) {
              padding-bottom: 2.25em;
          }
          @include respond(tablet) {
              font-size: 1rem;
          }
      }
      .login-form {
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          width: 25em;
          @include respond(laptop) {
              gap: 1.25em;
              width: 23em;
          }
          @include respond(tablet) {
              width: 19em;
          }
          .input {
              display: flex;
              justify-content: space-between;
              align-items: end;
              padding: 0.3em;
              padding-right: 1em;
              border: 0.5px solid #0000004d;
              border-radius: 5px;      
              background-color: rgba(255, 255, 255, 0.7);
              input {
                  width: 100%;
                  max-height: 3em;
                  outline: none;
                  border: none;
                  padding: 0.6em;
                  font-size: 0.8rem;    
                  color: $color-body;  
                  background-color: rgba(255, 255, 255, 0.1);                  
                  @include respond(tablet) {
                      font-size: 0.7rem;
                  }
              }
              input::placeholder {
                  color: rgba(84, 95, 125, 0.5);
              }
              .eye {
                  font-size: 1.25rem;
                  color: $color-secondary;
                  @include respond(tablet) {
                      font-size: 1rem;
                  }
              }
          }
          .forget-password {
              font-size: 0.65rem;
              font-weight: 600;
              color: $color-secondary;
              letter-spacing: 0.1em;
              padding-bottom: 0.4em;                
              cursor: pointer;
              @include respond(laptop) {
                  padding-bottom: 0.25em;
              }
              @include respond(tablet) {
                  font-size: 0.5rem;
                  text-align: right;
                  padding-right: 0.7em;
              }
          }
          button {
              width: 100%;
              padding: 1em;
              font-size: 0.8rem;
              font-weight: 600;
              letter-spacing: 0.1em;
              background-color: $color-secondary;
              color: $background-primary;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              @include respond(tablet) {
                  font-size: 0.7rem;
                  background-color: rgba(57, 205, 205, 0.85);
              }
          }
      }
  }
} */