// COLORS
$color-header: #213F7D;
$color-body: #545F7D;
$color-active: #05122b;
$color-body-faded: hsla(224, 20%, 41%, 0.3);

$background-primary: #FFF;
$background-user-page: #E5E5E5;
$background-active: #39cdcd33;
$background-secondary: #39CDCC;
$background-scroll: #213f7d1a;

//  FONTS
@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir-next.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNextLTPro-Bold.otf') format('truetype');
    font-weight: bold;
}

// MEDIA QUERY MANAGEMENT BREAKPOINTS

// basescreen > 1200px
// phone - 528px
// phone-tab - 640px
// mini-tablet - 800px
// tablet - 960px
// laptop - 1200px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 33em) {
            @content
        }
    }

    @if $breakpoint == phone-tab {
        @media only screen and (max-width: 40em) {
            @content
        }
    }

    @if $breakpoint == mini-tablet {
        @media only screen and (max-width: 50em) {
            @content
        } 
    }

    @if $breakpoint == tablet {
        @media only screen and (max-width: 61em) {
           @content
        }
    }

    @if $breakpoint ==  laptop {
        @media only screen and (max-width: 75em) {
            @content
        }
    }
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Avenir Next' !important;
    background: $background-primary;
    color: $color-body;
}

// LOGIN PAGE

.login-page {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 4em;
    overflow: hidden;
    @include respond(tablet) {
        padding: 3em;
    }
    @include respond(mini-tablet) {
        padding: 1.5em 0;
        display: flex;
        flex-direction: column;
    }
    .lendsqr {
        .lendsqr-logo {
            display: flex;
            align-items: center;
            gap: 0.7em;
            padding-left: 2em;
            h1 {
                font-weight: bolder;
                color: $color-header;                  
            }
        }
    }
    .cover-photo {
        position: absolute;
        top: 31.5%;
        left: 7%;
        z-index: -1;
        @include respond(laptop) {
            width: 29em;
            height: 17.5em;
            left: 5%;
        }
        @include respond(tablet) {   
            width: 27em;
            height: 17em;             
            left: 0;            
        }
        @include respond(mini-tablet) { 
            width: 42em;  
            height: 22em;             
            top: 60%;
            left: 0%;            
        }
        @include respond(phone-tab) {
            top: 53%;
            width: 35em;
            height: 19em;
        }
        @include respond(phone) {
            top: 60%;
            width: 23em;
            height: 15em;
        }
    } 
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        @include respond(mini-tablet) {
            padding-top: 1.75em;
        }       
        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            color: $color-header;
            padding-bottom: 0.625em;
            @include respond(laptop) {
                padding-bottom: 0.4em;
            }
            @include respond(tablet) {
                font-size: 2.25rem;
            }
            @include respond(mini-tablet) {
                padding-bottom: 0.25em;
            }    
            @include respond(phone-tab) {
                font-size: 1.75rem;
            }       
        }
        p {
            font-size: 1.25rem;
            padding-bottom: 3.75em;
            @include respond(laptop) {
                padding-bottom: 2.75em;
            }
            @include respond(tablet) {
                font-size: 1rem;
            }
            @include respond(mini-tablet) {
                padding-bottom: 2.25em;
            }
            @include respond(phone-tab) {
                padding-bottom: 1.5em;
            }          
        }
        .login-form {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            width: 25em;
            @include respond(laptop) {
                gap: 1.25em;
                width: 23em;
            }
            @include respond(tablet) {
                width: 19em;
            }
            @include respond(mini-tablet) {
                width: 22em;
            } 
            @include respond(phone-tab) {
                width: 19em;
                gap: 1em;
            }
            @include respond(phone) {
                width: 17em;
            } 
            .input {
                display: grid;
                grid-template-columns: repeat(20, minmax(0, 1fr));
                padding: 0.3em;
                padding-right: 1em;
                border: 0.5px solid #0000004d;
                border-radius: 5px;      
                background-color: $background-primary;
                input {
                    width: 100%;
                    grid-column: span 19 / span 19;
                    max-height: 3em;
                    outline: none;
                    border: none;
                    padding: 0.6em;
                    font-size: 0.8rem;    
                    color: $color-body;  
                    background-color: $background-primary;  
                }                
                input::placeholder {
                    color: rgba(84, 95, 125, 0.5);
                }
                .eye {
                    font-size: 1.25rem;
                    color: $background-secondary;                   
                }
            }
            .forget-password {
                font-size: 0.65rem;
                font-weight: 600;
                color: $background-secondary;
                letter-spacing: 0.1em;
                padding-bottom: 0.4em;                
                cursor: pointer;
                @include respond(laptop) {
                    padding-bottom: 0.25em;
                }
                @include respond(tablet) {
                    font-size: 0.5rem;
                }
            }
            button {
                width: 100%;
                padding: 1em;
                font-size: 0.8rem;
                font-weight: 600;
                letter-spacing: 0.1em;
                background-color: $background-secondary;
                color: $background-primary;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

// ACTIVE LINK

.active-link {
    background-color: $background-active;
    color: $color-active;
    border-left: 4px solid $background-secondary;
}

.active-page {
    color: $color-active;
}

// DASHBOARD/GENERAL DETAILS LAYOUT

.users-layout {    
    background-color: $background-user-page;
    .main {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

// DASHBOARD/GENERAL DETAILS HEADER

.header {
    background-color: $background-primary;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 1em 1.875em;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        gap: 0.5em;
        @include respond(laptop) {
            padding-left: 1.5em;
        }
        img {
            width: 1em;
            height: 1.1em;
        }
        h2 {
            font-weight: bold;
            color: $color-header;                  
        }
    }
    .form-container {
        grid-column: span 2 / span 2;
        form {
            width: 55%;
            display: flex;
            border: 0.5px solid #0000004d;
            border-radius: 5px;      
            background-color: $background-primary;
            input {
                width: 100%;
                max-height: 3em;
                outline: none;
                border: none;
                padding: 0.6em;
                font-size: 0.8rem;    
                border-radius: 5px;  
                color: $color-body;  
                background-color: $background-primary; 
            }
            button {
                padding: 0.6em 1.35em;
                background-color: $background-secondary;
                color: $background-primary;
                border: none;
                cursor: pointer;
            }
        }
    }
    .profile {
        display: flex;
        align-items: center;
        gap: 1.875em;
        .docs {
            text-decoration: underline;
            margin-right: 1em;
        }
        .bell {
            font-size: 1.25rem;
            cursor: pointer;
        }
        .profile-details {
            display: flex;
            align-items: center;
            gap: 0.6em;
            img {
                border-radius: 50%;
            }
            .profile-show {
                .profile-name {
                    display: flex;
                    gap: 0.5em;
                    align-items: center;
                }
                &:hover .hide {
                    display: flex;
                }

                &:focus-within .hide {
                    display: flex;
                }

                .none {
                    display: none;
                }

                .hide {
                    position: absolute;
                    width: fit-content;
                    display: none;
                    flex-direction: column;
                    top: 3.1em;
                    background-color: $background-secondary;
                    color: $background-primary;
                    padding: 0.4em 0.2em;
                    border-radius: 5px;
                    transform: translateX(-10%);
                    .clicks {
                        display: flex;
                        gap: 0.5em;
                        padding: 0.5em 0.3em;
                        font-size: 0.85rem;

                        &:hover {
                            color: $color-body;
                        }
                    }
                }
            }
        }
    }
}

// DASHBOARD/GENERAL DETAILS SIDEBAR

.side-bar {
    grid-column: span 1 / span 1;
    background-color: $background-primary;
    width: 100%;
    padding: 2.25em 0 1.5em;
    .switch {
        display: flex;
        gap: 0.6em;
        padding: 0 0em 3em 1.8em;
        .down-arrow {
            padding-top: 0.15em;
            cursor: pointer;
        }  
    }
    .dashboard {
        opacity: 0.6;
        display: flex;
        align-items: flex-start;
        gap: 0.6em;
        padding-left: 1.85em;
        padding-bottom: 2.5em;
    }
    .products {
        padding-bottom: 2.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        &:last-child {
            padding-bottom: 0;
        }
        .product-header {
            font-size: 0.75rem;
            padding-left: 2.5em;
        }
        a {
            opacity: 0.6;
            padding: 0.6em 3em 0.6em 1.8em;
            p {
                display: flex;
                align-items: flex-start;
                gap: 0.6em;
            }
        }
    }
}

// USERS PAGE

.users-page {
    background-color: $background-user-page;
    grid-column: span 4 / span 4;
    padding: 3.75em;
    .users-general-container {
        padding: 2.5em 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2em;
        .users-general {
            padding: 1.25em;
            background-color: $background-primary;
            .users-general-icon {
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.9em;
            }
            .first {
                color: #DF18FF;
                background-color: #e018ff33;
            }
            .second {
                color: #5718FF;
                background-color: #571aff33;
            }
            .third {
                color: #F55F44;
                background-color: #f55d4240
            }
            .fourth {
                color: #FF3366;
                background-color: #ff336633;
            }
            .users-p {
                font-size: 0.8rem;
                margin-bottom: 0.75em;
                letter-spacing: 0.025em;
            }
            .users-number {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    .users-details-container {
        background-color: $background-primary;
        padding: 1.8em 0 1.8em 1.8em;
        .users-details-head {
            display: grid;
            grid-template-columns: 8em 7.1em 13.2em 8.4em 9.7em auto;
            padding-bottom: 1em;
            p {
                font-size: 0.72rem;
                font-weight: bold;
            }
            .users-details-header {
                display: flex;
                align-items: center;
                gap: 0.4em;
                .filter {
                    cursor: pointer;
                    font-size: 0.85rem;
                }
            }
        }
        .user-details {
            display: grid;
            grid-template-columns: 10.2em 8.8em 16.5em 10.5em 12em 5.5em auto;
            font-size: 0.8rem;
            padding: 1.25em 0;
            position: relative;
            .username-details {
                overflow: hidden;
            }
            .status-details {
                cursor: pointer;
                font-size: 0.7rem;                
                .active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1em 0.1em 0.2em;
                    border-radius: 1.5em;
                    color: #39CD62;
                    background-color: #39cd6333;
                }
                .inactive {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1em 0.1em 0.2em;
                    border-radius: 1.5em;
                    color: #545F7D;
                    background-color: #545f7d33;
                }
                .pending {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1em 0.1em 0.2em;
                    border-radius: 1.5em;
                    color: #E9B200;
                    background-color: #ebb40033;
                }
                .blacklisted {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1em 0.1em 0.2em;
                    border-radius: 1.5em;
                    color: #E4033B;
                    background-color: #e2033b33;
                }
                &:hover .hide-options {
                    display: flex;
                }
                &:focus-within .hide-options {
                    display: flex;
                }
                .none {
                    display: none;
                }
                .hide-options {
                    position: absolute;
                    font-size: 0.7rem;
                    width: 11em;
                    display: none;
                    flex-direction: column;
                    padding: 1em 0;
                    top: 2em;
                    flex-wrap: nowrap;
                    overflow: visible;
                    background-color: $background-primary;
                    transform: translateX(-10%);
                    z-index: 2;
                    .status-clicks {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.5em;
                        padding: 1em;
                        &:hover {
                            background-color: #545f7d66;
                            color: $background-primary;
                        }
                    }
                }
            }
            .user-details-menu {
                cursor: pointer;
            }
        }
        .user-filter-head {
            display: grid;
            grid-template-columns: 14.25em auto;
            column-gap: 1em;
            .filter-details {
                padding: 1em 1.25em 1.25em;
                border: 1px solid #545f7d24;
                box-shadow: 3px 5px 20px #0000000a;
                border-radius: 4px;
                font-size: 0.875em;
                .filters {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4em;
                    padding-bottom: 1.25em;
                    input,
                    select {
                        opacity: 0.5;
                        border: 1px solid #213F7D;
                        border-radius: 8px;
                        padding: 0.75em 1.25em;
                    }
                }
                .buttons {
                    display: flex;
                    justify-content: space-around;
                    padding-top: 0.6em;
                    button {
                        font-size: 0.875em;
                        padding: 0.75em 1.875em;
                        border: 1px solid #545F7D;
                        border-radius: 8px;
                        background-color: $background-primary;
                        color: $color-body;
                        cursor: pointer;
                    }
                    .filter {
                        background-color: $background-secondary;
                        color: $background-primary;
                        border: none;
                    }

                }
            }
            .user-details {
                display: grid;
                grid-template-columns: 16.5em 10.5em 12em 5.5em auto;
            }
        }
    }
    .page-scroll {
        display: flex;
        justify-content: space-between;
        margin: 1.5em 0;
        font-size: 0.875rem;
        .page-scroll-show {
            display: flex;
            gap: 0.6em;
            align-items: center;
            .page-scroll-num {
                display: flex;
                gap: 1.1em;
                background-color: $background-scroll;
                border-radius: 4px;
                padding: 0.4em 0.75em;
            }
        }
        .page-scroll-page {
            display: flex;   
            gap: 1.25em;  
            align-items: center;  
            .angles {
                background-color: $background-scroll;
                padding: 0.1em;
                cursor: pointer;
            }
            .page-numbers {
                opacity: 0.6;
            }
        }
    }
}